.about-container {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
}

.about-title {
  padding-top: 140rem;
  font-size: 3.5rem;
}

.about-intro {
  font-size: 1.8rem;
  padding-top: 1rem;
}

/* Mission Section */
.mission-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
}

.mission-text {
  flex: 1;
  max-width: 500px;
  background-color: #333;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 370px;
}

.mission-title {
  font-size: 3rem;
  margin-bottom: 15px;
}

.mission-text p {
  font-size: 1.2rem;
  line-height: 1.7;
}

.mission-image img {
  margin-top: 5px;
  width: 100%;
  max-width: 400px;
  height: 370px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Vision Section */
.vision-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
}

.vision-text {
  flex: 1;
  max-width: 500px;
  background-color: #333;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 370px;
}

.vision-title {
  font-size: 3rem;
  margin-bottom: 15px;
}

.vision-text p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.vision-image img {
  margin-top: 5px;
  width: 100%;
  max-width: 400px;
  height: 370px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Team Image */
.team-image img {
  width: 100%;
  max-width: 800px;
  border-radius: 8px;
  height: 400px;
  padding-top: 10rem;
}

/* Platform & Why Description */
.platform-description,
.Why-description {
  padding-top: 5rem;
  font-size: 1.5rem;
  line-height: 1.6;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.Why-title {
  padding-top: 15rem;
  font-size: 3.5rem;
  padding-top: 5rem;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .mission-section,
  .vision-section {
    flex-direction: column;
    text-align: center;
  }

  .mission-title,
  .vision-title {
    font-size: 1.5rem;
  }

  .mission-text p,
  .vision-text p {
    padding: 10px;
    font-size: 1rem;
    text-align: center;
  }

  .mission-image img,
  .vision-image img {
    max-width: 80%;
    height: auto;
    margin-top: 5rem;
  }

  .team-image img {
    max-width: 100%;
    height: auto;
  }

  .platform-description,
  .Why-description {
    text-align: start;
    margin-left: 20px;
    margin-right: 20px;
  }
}
